@charset "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}
.header{
	color: white;
	font-size: 60px;
	text-align: center;
	margin-top: 10px;
}
.text{
	color: red;
	font-size: 40px;
	text-align:center;
	margin-top: 10px;
}
body{
	background-color: purple;
}
input{
	color: white;
	font-size: 50px;
	background-color:black;
	margin-right: 60px;
	width: 300px;
	border: 2px solid white;
}
input::placeholder{
	color: lightblue;
}
.name-input{
	width: 700px;
}
.submit-btn{
	color: white;
	background-color: green;
	text-align: center;
	width: 250px;
	height: 80px;
	font-size: 60px;
}
.submit-btn:hover{
	width:300px;
	height: 100px;
	font-size: 70px;
	background-color: darkgreen;
}
